<div class="signign w-row">
    <div class="w-col w-col-3"></div>
    <div class="column-6 w-col w-col-6">
        <div class="div-block"><img src="../../assets/img/GESTION-DE-IDENTIDADES.png" loading="lazy" width="150"
                sizes="150px"
                srcset="../../assets/img/GESTION-DE-IDENTIDADES.png 500w, ../../assets/img/GESTION-DE-IDENTIDADES.png 1081w"
                alt=""></div>

        <app-list-errors [errors]="errors"></app-list-errors>
        <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" [formGroup]="authForm" (ngSubmit)="submit()">
                
                <label for="Email">User</label>
                <input formControlName="email" class="text-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="User" id="Email">
                
                <label for="Password">Password</label>
                <input formControlName="password" type="password" class="text-field-2 w-input" maxlength="256" placeholder="Password" name="Password" data-name="Password"
                  id="Password" required="">
                
                <button [disabled]="!authForm.valid" type="submit" type="submit"
                    class="submit-button w-button">Login</button>
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
    <div class="w-col w-col-3"></div>
</div>