
<div class="signed w-row">
  <div class="query-user w-col w-col-6"><img src="../../assets/img/user-2.svg" loading="lazy" width="100" alt=""
      class="image-2">
    <h1 class="heading-3">Query User</h1>
    <div class="w-form">
      <app-list-errors [errors]="errors"></app-list-errors>
      <form [formGroup]="authFormData" (ngSubmit)="submit()" id="email-form-2" name="email-form-2" data-name="Email Form 2">
        
        <input formControlName="userId" 
          class="text-field-3 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="User ID"
          id="email-2" required="">
          
          <button [disabled]="!authFormData.valid" type="submit" type="submit"
                  class="submit-button-2 w-button">Submit</button> 
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
  <div class="userid w-col w-col-6">
    <ul class="alert alert-primary" style="padding-left: 30px;" role="alert" *ngIf="formattedData.length > 0">
      <li *ngFor="let data of formattedData" class="list-item-2">
        {{ data }}
      </li>
    </ul>

  </div>
</div>